---
import Layout from "../../layouts/Layout.astro";
import Content from "../../layouts/Content.astro";
import CardCharacter from "../../components/CardCharacter.astro";
import { getCharacters } from "../../services/database";

const characters = await getCharacters();
---

<Layout title="Lista de personajes">
    <Content>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 md:grid-cols-3 gap-5 w-full"
        >
            {
                characters.map((item) => (
                    <CardCharacter
                        href={`/characters/${item.id}`}
                        char={item}
                    />
                ))
            }
        </div>
    </Content>
</Layout>
