---
import Content from '../layouts/Content.astro';
import Layout from '../layouts/Layout.astro';
import { getStats } from '../services/json';

const stats = getStats()
---

<Layout title="Estadísticas de Genshin Impact">
    <Content>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2 border rounded-lg border-gray-200 w-full p-4 dark:border-gray-600 dark:bg-gray-900 dark:text-white">
                <h2 class="text-2xl uppercase font-bold mb-3">Cuenta</h2>
                <div class="flex flex-row gap-2 items-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                    <span>{ stats.nickname }</span>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 5h12l3 5l-8.5 9.5a.7 .7 0 0 1 -1 0l-8.5 -9.5l3 -5" /><path d="M10 12l-2 -2.2l.6 -1" /></svg>
                    <span>Nivel { stats.level }</span>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M7 14h.013" /><path d="M10.01 14h.005" /><path d="M13.01 14h.005" /><path d="M16.015 14h.005" /><path d="M13.015 17h.005" /><path d="M7.01 17h.005" /><path d="M10.01 17h.005" /></svg>
                    <span>Días activos { stats.days_active }</span>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4v3m-4 -3v6m8 -6v6" /><path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" /></svg>
                    <span>Logros { stats.achievements }</span>
                </div>
            </div>
            <div class="border rounded-lg border-gray-200 w-full p-4 dark:border-gray-600 dark:bg-gray-900 dark:text-white">
                En progreso...
            </div>
        </div>
        
    </Content>
</Layout>