---
import Chest from './Chest.astro'
import commonChestImg from '@assets/chests/common.webp'
import exquisiteChestImg from '@assets/chests/exquisite.webp'
import preciousChestImg from '@assets/chests/precious.webp'
import luxuriousChestImg from '@assets/chests/luxurious.webp'

interface Props {
    common: number
    exquisite: number
    precious: number
    luxurious: number
}

const { common, exquisite, precious, luxurious } = Astro.props
---

<div class="grid sm:grid-cols-2 gap-4">
    <Chest quantity={ common } image={ commonChestImg } />
    <Chest quantity={ exquisite } image={ exquisiteChestImg } />
    <Chest quantity={ precious } image={ preciousChestImg } />
    <Chest quantity={ luxurious } image={ luxuriousChestImg } />
</div>