---
import Oculi from './Oculi.astro'
import anemoculiImg from '@assets/oculis/anemoculus.webp'
import geoculiImg from '@assets/oculis/geoculus.webp'
import electroculiImg from '@assets/oculis/electroculus.webp'
import dendroculiImg from '@assets/oculis/dendroculus.webp'
import hydroculiImg from '@assets/oculis/hydroculus.webp'

interface Props {
    anemo: number
    dendro: number
    electro: number
    geo: number
    hydro: number
}

const { anemo, dendro, electro, geo, hydro } = Astro.props
---

<div class="grid sm:grid-cols-5 gap-4">
    <Oculi quantity={ anemo } image={ anemoculiImg } />
    <Oculi quantity={ geo } image={ geoculiImg } />
    <Oculi quantity={ electro } image={ electroculiImg } />
    <Oculi quantity={ dendro } image={ dendroculiImg } />
    <Oculi quantity={ hydro } image={ hydroculiImg } />
</div>