---
import { icons } from "@lucide/astro";
import LucideIcon from "./LucideIcon.astro";

interface Props {
    icon: keyof typeof icons;
    label?: string;
    value: string | number;
}

const { icon, value, label } = Astro.props;
---

<div class="flex gap-2">
    <LucideIcon name={icon} size={20} />
    <span>{label ? `${label} ➜ ${value}` : value}</span>
</div>
