---
import { Icon } from "astro-icon/components";

interface Props {
    quantity: number;
}

const { quantity } = Astro.props;
---

<div class="flex flex-row gap-1 items-center justify-center py-2">
    {
        Array.from({ length: quantity }, () => (
            <Icon name="tabler:star-filled" size={18} class="text-yellow-500" />
        ))
    }
</div>
